
 #btn {
  display: flex;
  background: #fff;
  width: 45px;
  height: 19px;
  margin-top: 2px;
  margin-left: 2px;
  border-radius: 80px;
  box-shadow: 0px 64px 96px rgba(0,0,0,0.05);;
}
 #btn:hover {
  cursor: pointer;
}
 #btn #checkbox {
  width: 15px;
  height: 15px;
  margin-left: 27px;
  margin-top: 2px;
  background: rgb(160, 96, 255);
  border-radius: 80px;
}
 #btn #checkbox .tick {
  background: transparent;
  transform: rotate(45deg) scale(0.22);
  position: absolute;
  margin-left: 9.5px;
  margin-top: 2px;
}
 #btn #checkbox .tick #rect1 {
  background: #fff;
  width: 8px;
  height: 40px;
  margin-left: 12px;
  position: absolute;
}
 #btn #checkbox .tick #rect2 {
  background: #fff;
  width: 20px;
  height: 8px;
  margin-top: 32px;
  position: absolute;
}
.h_btn {
  transform: scale(0.9);
}
.h_cb {
  margin-left: 3px !important;
  background:#303034 !important;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.05) !important;
}
.h_rects {
  background:#303034 !important;
}
* {
  transition: all 0.3s cubic-bezier(0.38, 0.24, 0.28, 1.17);
}
/*-------------------------------*/

#btn2 {
  display: flex;
  background: #fff;
  width: 45px;
  height: 19px;
  margin-left: 2px;
  margin-top: 2px;
  border-radius: 80px;
  box-shadow: 0px 64px 96px rgba(0,0,0,0.05);;
}
 #btn2:hover {
  cursor: pointer;
}
 #btn2 #checkbox2 {
  width: 15px;
  height: 15px;
  margin-left: 27px;
  margin-top: 2px;
  background: rgb(160, 96, 255);
  border-radius: 80px;
}
 #btn2 #checkbox2 .tick {
  background: transparent;
  transform: rotate(45deg) scale(0.22);
  position: absolute;
  margin-left: 9.5px;
  margin-top: 2px;
}
 #btn2 #checkbox2 .tick #rect12 {
  background: #fff;
  width: 8px;
  height: 40px;
  margin-left: 12px;
  position: absolute;
}
 #btn2 #checkbox2 .tick #rect22 {
  background: #fff;
  width: 20px;
  height: 8px;
  margin-top: 32px;
  position: absolute;
}
.h_btn {
  transform: scale(0.9);
}
.h_cb {
  margin-left: 3px !important;
  background:#303034 !important;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.05) !important;
}
.h_rects {
  background:#303034 !important;
}
* {
  transition: all 0.3s cubic-bezier(0.38, 0.24, 0.28, 1.17);
}
/*-------------------------------------------------------*/
#btn3 {
  display: flex;
  background: #fff;
  width: 45px;
  height: 19px;
  margin-left: 2px;
  margin-top: 2px;
  border-radius: 80px;
  box-shadow: 0px 64px 96px rgba(0,0,0,0.05);;
}
 #btn3:hover {
  cursor: pointer;
}
 #btn3 #checkbox3 {
  width: 15px;
  height: 15px;
  margin-left: 27px;
  margin-top: 2px;
  background: rgb(160, 96, 255);
  border-radius: 80px;
}
 #btn3 #checkbox3 .tick {
  background: transparent;
  transform: rotate(45deg) scale(0.22);
  position: absolute;
  margin-left: 9.5px;
  margin-top: 2px;
}
 #btn3 #checkbox3 .tick #rect13 {
  background: #fff;
  width: 8px;
  height: 40px;
  margin-left: 12px;
  position: absolute;
}
 #btn3 #checkbox3 .tick #rect23 {
  background: #fff;
  width: 20px;
  height: 8px;
  margin-top: 32px;
  position: absolute;
}
.h_btn {
  transform: scale(0.9);
}
.h_cb {
  margin-left: 3px !important;
  background:#303034 !important;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.05) !important;
}
.h_rects {
  background:#303034 !important;
}
* {
  transition: all 0.3s cubic-bezier(0.38, 0.24, 0.28, 1.17);
}